*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bg-primary: #9b4dee;
    --color-primary: #fff;
    --border-gray: 1px solid #999;
}

header{
    background-color: var(--bg-primary);
    color: var(--color-primary);
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

nav{
    background-color: var(--bg-primary);
    color: var(--color-primary);
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
nav a{
    color: var(--color-primary);
    text-decoration: none;
    width: 19%;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

main { 
    padding-top: 56px; 
    padding-bottom: 56px; 
}

h2{
    color: var(--bg-primary);
    padding: 7px;
}


img{
    max-width: 100%;
    height: auto;
}

.form-busca{
    border: var(--border-gray);
    border-radius: 5px;
    margin: 0px 7px;
    padding: 5px;
}
.input-busca{
    width: calc(100% - 50px);
    border: none;
}
.form-busca button{
    border: none;
    background-color: transparent;
}
.div-estabelecimento{
    border: var(--border-gray);
    border-radius: 25px;
    margin: 3px;
    overflow: hidden;
    width: 31%;
    display: inline-block;
    text-align: center;
    
}
.div-estabelecimento * {
    display: block;
}

.div-estabelecimento div{
    width: 100%;
    aspect-ratio: 16 / 9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.div-estabelecimento span{
    color: #e1bc38;
}


.div-produto{
    border: var(--border-gray);
    border-radius: 25px;
    margin: 3px;
    overflow: hidden;
    width: 31%;
    display: inline-block;
    text-align: center;
    
}
.div-produto * {
    display: block;
}

.div-produto div{
    width: 100%;
    aspect-ratio: 16 / 9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}